header, body, main {
    width: 960px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E1E9EE;
 
}
.container{
    position: absolute;
    height: 50px;
    width: 100px;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
}

.empresa h2{
   
    font-size: 24px;
    color: #066DB8;

}
.empresa h2:hover{
    -webkit-transition:all .9s ease-in-out;
    filter: grayscale(80%);
}

.texto p{
    font-weight: 500;
    font-size: 10px;
    color: #222222;
    margin-top: -25px;  
}
span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0a2030;
}
h3{
    font-weight: 500;
    font-size: 15px;
    color: #0a2030;
}
h2{
    font-weight: 500;
    font-size: 18px;
    color: #063f68;
}

.texto2 {
    font-weight: 500;
    font-size: 15px;
    color: #066DB8;
    margin-top: 100px;  
}

.contenedor{
    margin-top: 50px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #066DB8;
    position: relative;
    height: 400px;
    width: 400px;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.contenedor h3{
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 500;
    
}

.contenedor p{
    margin-left: 10px;
    color: rgb(41, 41, 41);

}